@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

*{
	font-family: 'Lato', sans-serif;
}

h1 {
	color: teal;
}

p > strong,
a,
th {
	color: red;
}

strong,
.especial,
.destacado {
	color: yellow;
}

h2,
a > em,
caption {
	color: blue;
}

span.especial {
	color: purple;
}

#especial,
a:hover {
	color: fuchsia;
}

div > p > a {
	color: green;
}

td {
	color: olive;
}

#adicional {
	color: orange;
}

table,
td,
th,
tr {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
