@keyframes rotate {
	0%{ transform: rotate(360deg);}
	100%{transform: rotate(0deg);}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow: auto;
}

header,
main,
footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;
	background: #155263;
	max-width: 1800px;
	width: 90%;
	margin: auto;
	padding: 1rem 0;
}

h1 {
	text-transform: uppercase;
	color: #ff9a3c;
	text-shadow: 3px 3px #000;
}

header > div {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
header > div > img {
	height: 3rem;
	width: auto;
	margin-right: 10px;
}
li {
	display: inline;
	margin: 1rem;
}

li > a {
	color: #ff9a3c;
	text-decoration: none;
	font-size: 1.7rem;
	text-shadow: 1px 1px #000;
}

li > a:hover {
	text-decoration: underline 0.1em;
	text-decoration-color: #ffc93c;
}

body {
	background-image: url(../images/logo.png);
	background-size: 5rem;
}

main {
	background: #ff6f3c;
	display: flex;
	flex-direction: column;
}

h2{
	font: 2rem Helvetica, sans-serif;
	color: #ffc93c;
	text-decoration: underline;
	text-shadow: 1px 1px #000;
}

.showcase {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin: 1rem auto;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	font: 1.5rem  Georgia, serif;
}

#promotion{
	max-width: 20em;
	margin: .5em;
	font: 1.5rem/1.4 Georgia, serif;
}

div > img {
	height: 10rem;
	width: auto;
}

footer {
	background: #ff9a3c;
}


#addButton{
	font-size: 1rem;
	padding: .5em;
	margin: 1rem 0;
	border: none;
	display: inline-block;
	text-decoration: none;
	color: white;
	background-color: rgb(92, 92, 186);
}

#addButton:focus {
	animation: rotate 2s;
}