@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@keyframes smaller {
	from {
		width: 70%;
	}
	to {
		width: 30%;
	}
}

@keyframes spinSize {
	0% {
		transform: rotate(0deg) scale(0.5);
	}
	50% {
		transform: rotate(180deg) scale(1.2);
	}
	100% {
		transform: rotate(360deg) scale(0.5);
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #ffbbd4;
}

header {
	background-image: url(cabecera2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 3rem 0px;
	text-align: center;
	box-shadow: 0px 3px 20px 0px #3a3a3a;
	max-width: 1000px;
	width: 80%;
	margin: auto;
}

h1 {
	background: rgba(255, 245, 238, 0.7);
	text-transform: uppercase;
}

main {
	background-color: white;
	max-width: 1000px;
	width: 80%;
	margin: auto;
	padding: 2em;
	box-shadow: 0px 3px 20px 0px #3a3a3a;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 2rem auto;
	border-radius: 20px;
	width: 70%;
	box-shadow: 0px 3px 20px 0px #3a3a3a;
}

h2 {
	text-transform: uppercase;
	text-align: center;
}

footer {
	text-align: center;
	max-width: 1000px;
	width: 80%;
	margin: auto;
	background: #72646b;
	color: rgb(188, 188, 188);
}

.chocolate {
	color: red;
}

.bigLinks:hover {
	font-size: 2rem;
}
/* Primera imagen */
#rotateImage {
	transform: rotate(180deg);
}

/* Segunda imagen */
#samllerImage {
	transition: all 2s linear;
}

#samllerImage:hover {
	transform: scale(0.5);
}
/* Tercera imagen */
#spinSizeImage {
	animation: spinSize 5s linear infinite;
}
