@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
/* ENDS RESET */

body {
	font-family: "Nunito Sans", sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 1fr 70px;
	grid-template-areas:
		"head"
		"main"
		"footer";
}

/* Header */
header {
	background-image: url(../img/new-zealand-hero.jpg);
	background-size: cover;
	background-position: center;
	grid-area: head;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
header h1 {
	color: white;
	text-shadow: 2px 2px 7px #000000;
	text-transform: uppercase;
	align-self: center;
	font-size: 3em;
}

header p {
	color: #dba00c;
	text-shadow: 2px 2px 7px #000000;
	order: -1;
	font-size: 2em;
	font-weight: bold;
}

nav {
	width: 100%;
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
nav a {
	color: white;
	text-decoration: underline;
	transition: 0.3s all;
}
nav li :hover {
	color: #cc8500;
	text-decoration: none;
}

/* Main */
.index {
	grid-area: main;
	max-width: 1200px;
	min-height: 50vh;
}

article {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

/* First article */
.choose-us-box li {
	box-shadow: 1px 2px 6px 0px #404040;
	min-height: 10rem;
	background-color: #dba00c;
	display: flex;
	flex-direction: row;
	margin: 1rem;
}
.choose-us-box li:nth-child(2n) {
	background-color: #cc8500;
}

.choose-us-box span {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 3em;
	width: 10rem;
}

.choose-us-box p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: white;
}

/* Second section */
.place-to-visit {
	margin: 1rem;
}

.place-to-visit p {
	display: none;
}

.place-to-visit h3 {
	margin-top: 2rem;
	color: #fda300;
}

.place-to-visit img {
	filter: grayscale(1);
}
.place-to-visit img:hover {
	filter: grayscale(0);
}

/* Footer */
footer {
	background-color: #424242;
	color: #fda300;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
}
