@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	list-style: none;
}
/* ENDS RESET */

body {
	font-family: "Nunito Sans", sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh 1fr 70px;
	grid-template-areas:
		"head"
		"main"
		"footer";
}

/* Header */
header {
	background-image: url(../img/new-zealand-hero.jpg);
	background-size: cover;
	background-position: center;
	grid-area: head;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
header h1 {
	color: white;
	text-shadow: 2px 2px 7px #000000;
	text-transform: uppercase;
	align-self: center;
	font-size: 3em;
}

.services {
	background-image: url(../img/services.jpg);
}

.about {
	background-image: url(../img/about-us.jpg);
}

.services p,
.about p {
	display: none;
}

header p {
	color: #dba00c;
	text-shadow: 2px 2px 7px #000000;
	order: -1;
	font-size: 2em;
	font-weight: bold;
}

nav {
	width: 100%;
}
nav ul {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
nav a {
	color: white;
	text-decoration: underline;
	transition: 0.3s all;
}
nav a:hover {
	color: #cc8500;
	text-decoration: none;
}

/* Main */
.index {
	grid-area: main;
	max-width: 1200px;
	min-height: 50vh;
}

article {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

article h2 {
	margin: 2rem 0px;
}

/* First article */
.choose-us-box li {
	box-shadow: 1px 2px 6px 0px #404040;
	min-height: 10rem;
	background-color: #dba00c;
	display: flex;
	flex-direction: row;
	margin: 1rem;
}
.choose-us-box li:nth-child(2n) {
	background-color: #cc8500;
}

.choose-us-box span {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 3em;
	width: 10rem;
}

.choose-us-box p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: white;
}

/* Second section */
.place-to-visit {
	margin: 1rem;
}

.place-to-visit p {
	display: none;
}

.place-to-visit h3 {
	color: #fda300;
}

.place-to-visit img {
	filter: grayscale(1);
}
.place-to-visit img:hover {
	filter: grayscale(0);
}

/* servicios main */

.service-box {
	display: grid;
	grid-template-columns: 1fr;
}

.service {
	height: 15rem;
	width: 16rem;
	background-color: #dba00c;
	margin: 1rem;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	box-shadow: 1px 1px 10px #404040;
}

.service p {
	font-size: 2em;
	color: white;
}

.service p:nth-child(3) {
	background-color: white;
	color: #dba00c;
	border-radius: 10px 10px 0px 0px;
	margin: 0px 5px;
	font-size: 4em;
	font-weight: bold;
}

/* About main */

.about:nth-child(2) {
	margin: 3rem 0px;
	background-image: none;
}
.about:nth-child(2) p {
	display: inline;
}

.mask img {
	border: 0.5rem solid #dba00c;
	border-radius: 50%;
	width: 30vw;
	height: 30vw;
	overflow: hidden;
	object-fit: cover;
	box-shadow: 1px 1px 10px #404040;
}

.about:nth-child(2) h3 {
	color: #dba00c;
	font-size: 1.7rem;
	margin-top: 2rem;
}

.form-container {
	padding: 2rem;
	background-color: #f2f2f2;
}

.form-container fieldset {
	border: none;
	text-align: start;
	margin-bottom: 1rem;
}

.form-container input {
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid gray;
}

.form-container button {
	width: 100%;
	background-color: #fea500;
	padding: 0.5em;
	color: #fff;
	border: 0;
	border-radius: 5px;
}

/* Footer */
footer {
	background-color: #424242;
	color: #fda300;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: footer;
}

@media screen and (min-width: 640px) {
	.index {
		margin: 0px auto;
	}

	.choose-us-box span {
		width: 25rem;
	}

	/* Servicios */
	.service {
		width: 20rem;
	}
}

@media screen and (min-width: 1024px) {
	/* header */
	header h1 {
		font-size: 5em;
	}

	header p {
		font-size: 3rem;
	}

	header a {
		margin-top: 3rem;
		font-size: 2rem;
	}

	/* first section */
	.choose-us-box span {
		width: 10rem;
	}

	.choose-us-box li {
		margin: 0;
	}

	.choose-us-box {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	.choose-us-box h2 {
		margin: 2rem;
	}
	/* second section */
	.place-to-visit {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0px 2rem;
		margin: 0px;
	}
	.place-to-visit h2 {
		grid-column: span 2;
	}

	/* servicios */
	.service-box {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.service:nth-child(1) {
		grid-column: 1/2;
		grid-row: 2 / 4;
	}

	.service:nth-child(2) {
		grid-column: 2/3;
		grid-row: 1/3;
	}

	.service:nth-child(3) {
		grid-column: 3/4;
		grid-row: 2/4;
	}

	/* about */
	.about-article {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 0px 2rem;
	}

	.about-article > p,
	.about-article > h2 {
		grid-column: span 2;
	}

	.mask img {
		width: 25rem;
		height: 25rem;
	}
}
