.contenedor {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 4rem;
}

.profile {
	max-width: 600px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}
.profile > div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-direction: column;
	margin: 0px 1rem;
}

.profile-name {
	margin: 0px;
}

.profile:first-of-type {
	flex-direction: row;
}
.profile:first-of-type > div {
	align-items: flex-start;
}

.profile-role {
	margin: 0px;
	margin-bottom: auto;
	color: #cccccc;
}

img {
	width: 200px;
	height: 100px;
	object-fit: cover;
}
