body {
	background-color: #f1f5f9;
}

.contenedor {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #f1f5f9;
}

.logos {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.logos > img {
	width: 170px;
	padding: 1rem;
}
