* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

form {
	max-width: 40rem;
	display: grid;
	margin: 1rem auto;
	padding: 2rem;
	border: 1px solid #000;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	/* grid-template-rows: 1fr 1fr 2fr 1fr; */
	grid-template-areas:
		"name"
		"email"
		"message"
		"button";
}

input,
textarea {
	width: 100%;
	padding: 10px;
}

label{
	display: block;
}

button {
	background-color: #ff5574;
	color: white;
	border: none;
	border-radius: 20px;
	width: 100%;
	padding: 0.5rem;
	cursor: pointer;
	display: inline-block;
}

#name-block{
	grid-area: name;
}

#email-block{
	grid-area: email;
}

#message-block{
	grid-area: message;
}

button{
	grid-area: button;
}

@media screen and (min-width: 530px) {
	form{
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"name message"
			"email message"
			"button button";
	}
}